* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    position: relative;
    width: 100%;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    object-fit: cover; /* Assure que la vidéo couvre tout le header */
    z-index: -1;
}

.header-content {
    position: relative;
    z-index: 1; /* Assure que le contenu est au-dessus de la vidéo */
    /* Autres styles pour le contenu du header */
}

.logo img {
    /* Styles pour le logo */
}

.menuList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menuList.left li {
    margin-right: 20px; /* Ajustez selon vos besoins */
}
.menuList.right li {
    margin-left: 20px; /* Ajustez selon vos besoins */
}

.menuList.left {
    justify-content: flex-end; /* Alignement à droite pour les éléments du menu gauche */
}

.menuList.right {
    justify-content: flex-start; /* Alignement à gauche pour les éléments du menu droite */
}

.menuList.left,
.menuList.right {
    flex: 1; /* Les deux listes prennent un espace égal */
    justify-content: center; /* Centre les éléments de la liste */
    padding: 0 10px;
    margin-top: -80px;
}

.menuList a {
    text-decoration: none;
    color: white; /* Ou la couleur de votre choix */
    padding: 5px 10px; /* Ajustez selon vos besoins */
    display: block;
     font-size: 1.2em;
    transition: .3s;
}
/* En option, vous pouvez assurer que les liens de gauche et de droite occupent un espace égal */
.menuList.left, .menuList.right {
    flex-basis: 50%; /* Chaque menu de liens occupe 50% de l'espace total */
    justify-content: center;
}

.logo {
    flex-grow: 1;
    text-align: center; /* Centre le logo dans l'espace alloué */
}


.video-content {
    padding-top: 150px;
}

h1{
	text-align: center;
	color: white;
	

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}





























.boutons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espace entre les boutons */
	margin-bottom: 400px;
	margin-top: 40px;
}

.boutons button {
    padding: 10px 20px;
    border: true; /* 'true' n'est pas une valeur valide pour la propriété 'border'. Il faut préciser 'none', 'solid', 'dotted', etc., et la couleur si nécessaire. */
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent; /* Couleur de fond initiale des boutons */
    color: white; /* Couleur du texte des boutons */
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Pseudo-classe pour le survol de la souris */
.boutons button:hover,
/* Pseudo-classe pour lorsque le bouton est cliqué */
.boutons button:active {
   border-radius: 14.058px;
	background: #FF00C7;
}


main {
    background-color: #00002B; /* Bleu très foncé */
    height: 400vh;
    /* Autres styles */
}
.cadre {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
  	 border-radius: 0px 115px 115px 0px;
	background: linear-gradient(99deg, #870A9B 4.59%, #00DBCE 145.1%);
    padding: 200px; /* Espace à l'intérieur du cadre */
   
    /* Autres propriétés comme le margin ou le max-width selon le besoin */
}
/* Conteneur Flex pour les sections Prédiction et Comparaison */
.conteneur-flex {
    display: flex;
    justify-content: space-between; /* Sépare les enfants également dans le conteneur */
    align-items: stretch; /* S'assure que les enfants s'étendent pour remplir la hauteur du conteneur */
}

/* Styles pour les sections individuelles à l'intérieur du conteneur flex */
#prediction, 
#comparaison {
    flex: 1; /* Permet à chaque section de prendre une partie égale de l'espace disponible */
    margin: 0px; /* Ajoute un peu d'espace entre les sections */
    color: #FFF;

}

.section-prediction button {
    background-color: #FF00C7; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure par défaut */
    padding: 10px 20px; /* Ajuster le padding pour augmenter la taille du bouton */
    font-size: 1rem; /* Taille de la police */
    border-radius: 5px; /* Arrondir les coins du bouton */
    cursor: pointer; /* Changement de curseur pour indiquer que c'est cliquable */
    transition: background-color 0.3s; /* Animation de transition pour la couleur de fond */
	margin-top: 20px;
}
.section-prediction .text-and-button, 
.section-comparaison .text-and-button {
    color: white; /* Définit la couleur du texte en blanc */
}

.section-prediction .text-and-button h2,
.section-comparaison .text-and-button h2 {
    color: white; /* Définit la couleur du titre en blanc */
}

.section-prediction .contenu-section {
    /* Si contenu-section est déjà un flex container, assurez-vous qu'il est configuré pour centrer ses éléments enfants */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments enfants horizontalement */
    justify-content: center; /* Centrer les éléments enfants verticalement si nécessaire */
}

.section-prediction .text-and-button {
    /* Cette classe est pour la div qui entoure le texte et le bouton */
    text-align: center; /* Centrer le texte */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer le bouton en dessous du texte */
}
.section-comparaison button {
    background-color: #FF00C7; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure par défaut */
    padding: 10px 20px; /* Ajuster le padding pour augmenter la taille du bouton */
    font-size: 1rem; /* Taille de la police */
    border-radius: 5px; /* Arrondir les coins du bouton */
    cursor: pointer; /* Changement de curseur pour indiquer que c'est cliquable */
    transition: background-color 0.3s; /* Animation de transition pour la couleur de fond */
	margin-top: 20px;
}
.section-comparaison .contenu-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les éléments enfants horizontalement */
}

.section-comparaison .text-and-button {
    text-align: center; /* Centrer le texte */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer le bouton en dessous du texte */
}

.section-prediction .text-and-button p,
.section-comparaison .text-and-button p {
    text-align: justify;
    /* Vous pouvez ajouter ici d'autres styles pour le paragraphe, comme la marge, la taille de la police, etc. */
}


.cadre {
    /* Styles existants pour .cadre */
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crée deux colonnes */
    grid-template-rows: 1fr 1fr; /* Crée deux lignes */
    gap: 200px; /* Espacement entre les grilles */
}





/* Style pour le titre de la section des films */
#films h2 {
    color: white;
    text-align: center;
    margin-bottom: 500px; /* Ajustez selon vos besoins, 300px semble beaucoup */
    /* Autres styles de titre si nécessaire */
}

/* Style pour le titre de la section de l'équipe */
#equipe h2 {
    color: white;
    text-align: center;
    margin-bottom: 400px; /* Ajustez selon vos besoins */
    /* Autres styles de titre si nécessaire */
}


/* Style pour la grille des films */
.film-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Ajustez la taille min/max selon vos besoins */
    gap: 20px; /* Espace entre les films */
    justify-content: center;
    padding: 20px;
}

.film img {
    width: 100%; /* Assurez-vous que l'image prend toute la largeur de son conteneur */
    border-radius: 10px; /* Coins arrondis pour les images */
}

.film p {
    text-align: center;
    margin-top: 8px; /* Espace entre l'image et le titre du film */
}

/* Style pour la grille de l'équipe */
.equipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Ajustez la taille min/max selon vos besoins */
    gap: 20px; /* Espace entre les membres de l'équipe */
    justify-content: center;
    padding: 20px;
    
}

.membre img {
    width: 100%; /* Assurez-vous que l'image prend toute la largeur de son conteneur */
    border-radius: 50%; /* Images rondes */
}

.membre p {
    text-align: center;
    margin-top: 8px; /* Espace entre l'image et le nom du membre */
}



footer {
    width: 100%; /* S'étend sur toute la largeur de la page */
    border: 1px solid #000;
	background: linear-gradient(270deg, #9F007C -3.01%, #00002B 26.59%, #00002B 50.4%, #00002B 68.81%);
    color: white; /* Texte en blanc */
    text-align: center; /* Centre le texte */
  /* Rembourrage supérieur et inférieur */
    z-index: 1000; /* S'assure que le footer reste au-dessus des autres éléments */
 	padding: 20px;
    font-family: sans-serif;
}
.footer-links ul li a, 
.footer-social p {
    color: white;
    text-decoration: none;
    text-align: justify; /* Justifier le texte des liens et des paragraphes */
}

/* Vous pouvez aussi vouloir justifier les titres si nécessaire */
.footer-links h4, 
.footer-social h4 {
    text-align: justify;
}


.footer-grid {
    display: grid;
    gap: 20px; /* Espacement entre les colonnes */

    grid-template-columns: 3fr 1fr 1fr 2fr; /* Ajustez les proportions selon les besoins */
   
}

/* Si les éléments sont flex containers, justifier le texte des enfants */
.footer-links, .footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligner les enfants à gauche pour permettre la justification */
    
}

.footer-links *, .footer-social * {
    text-align: justify;
    align-items: flex-start;
    color: #FFF;
-webkit-text-stroke-width: 1;
-webkit-text-stroke-color: #000;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.footer-logo, .footer-links, .footer-social {
margin-top: 10px;
    /* Styles pour les éléments du pied de page */
}

.footer-logo img {
    width: 100px; /* Ajustez selon la taille de votre logo */
}

.footer-links h4, .footer-social h4 {
    margin-bottom: 10px;
    /* Styles pour les titres de section */
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligner le logo et le texte à gauche */
    color: #FFF;
-webkit-text-stroke-width: 1;
-webkit-text-stroke-color: #000;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 120% */
}

.footer-links ul, .footer-social p {
    /* Styles pour les listes et les paragraphes */
    list-style-type: none;
    padding: 0;
}

.footer-links ul li a, .footer-social p {
    /* Styles pour les liens et les paragraphes */
    color: white;
    text-decoration: none;
    
}
.container p {
   color: #BDB9B9;
-webkit-text-stroke-width: 1;
-webkit-text-stroke-color: #000;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.24px;
}

/* Pour les écrans plus petits, ajustez la grille avec une requête média */
@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr 1fr; /* Deux colonnes sur les petits écrans */
    }
}
